<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736687023370-s2oca8nf2053q29l6p51709i8euqu4sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736687023370-s2oca8nf2053q29l6p51709i8euqu4sq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>736687023370-7lpkk9683cpbbag8ee5ecghvok5k9423.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAO3lJ9exzLjaJbPCEntEFsIWfA8yvipmY</string>
	<key>GCM_SENDER_ID</key>
	<string>736687023370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bluelion79.mytaskmanager</string>
	<key>PROJECT_ID</key>
	<string>mypan7942</string>
	<key>STORAGE_BUCKET</key>
	<string>mypan7942.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736687023370:ios:8df48e27b5a6b6ed4a06f3</string>
</dict>
</plist>